<div ng-cloak>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
         <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
            	<img src="images/picado.png" alt="Andre">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
      <h2>My todos</h2>
      <form role="form" ng-submit="addTodo()">
          <div class="input-group form-group">
            <input type="text" ng-model="todo" placeholder="What needs to be done?" class="form-control">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-primary" value="Agregar">
            </span>
          </div>
      </form>
      <div class="rollow">
        <div ui-sortable ng-model="todos">
          <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
            <input type="text" ng-model="todo" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
            </span>
          </p>
        </div>
      </div>
    </div>
  </md-content>
  <md-datepicker ng-model="myDate" md-placeholder="Cual es tu fecha?"></md-datepicker>
  
</div>

